.matero-header {
  --mat-toolbar-container-background-color: transparent;
  --mdc-icon-button-icon-color: white;

  position: relative;
  z-index: 200;
  display: block;
  background-color: var(--header-background-color);
  backdrop-filter: blur(8px);
}

:host ::ng-deep .mat-badge-content {
  --mat-badge-background-color: #ef0000;
  --mat-badge-text-color: #fff;
}
