@mixin primary-button {
  display: block;
  width: max-content;
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  font-size: var(--font-size-normal);
  font-weight: 600;
  border: none;
  border-radius: 9999px;
  padding: 16px 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--primary-color-hover);
  }
}

@mixin secondary-button {
  @include primary-button;
  background-color: transparent;
  color: var(--secondary-text-color);
  transition: background-color 0.5s ease;

  &:hover {
    background-color: var(--secondary-color-hover);
  }
}