.btn {
  padding: 10px 16px;
  border-radius: 8px;
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.btn-primary {
  @extend .btn;
  background-color: #a11009;
  border: none;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--primary-color-hover);
  }
}

.btn-secondary {
  @extend .btn;
  background-color: transparent;
  border: 1px solid #ddd;
  color: var(--secondary-text-color);
  transition: background-color 0.5s ease;

  &:hover {
    background-color: var(--secondary-color-hover);
  }
}
