<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Filtros</mat-card-title>
  </mat-card-header>
  <mat-card-content class="filters">
    <div class="ticket__statuses">
      @for (status of TICKET_STATUSES; track $index) {
        <div class="cbx">
          <input type="checkbox" [id]="status.id" [(ngModel)]="status.active">
          <label [class.active]="status.active" [htmlFor]="status.id">
            {{ status.name }}
          </label>
        </div>
      }
    </div>
    <div class="by_employees">
      <div>
        <mat-form-field class="w-full">
          <mat-label>Por persona a cargo</mat-label>
          <mtx-select
            [items]="itTeamEmployees"
            bindLabel="name"
            bindValue="id"
            [(ngModel)]="filters.idItEmployee"
            [tabIndex]="1"
          />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="w-full">
          <mat-label>Por solicitante</mat-label>
          <mtx-select
            [items]="requesterEmployees"
            bindLabel="name"
            bindValue="id"
            [(ngModel)]="filters.idRequesterEmployee"
            [tabIndex]="2"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="date__range">
      <div class="from">
        <mat-form-field>
          <mat-label>Desde</mat-label>
          <input matInput [matDatepicker]="picker_from" [(ngModel)]="filters.from" [tabIndex]="3" />
          <mat-datepicker-toggle matIconSuffix [for]="picker_from"></mat-datepicker-toggle>
          <mat-datepicker #picker_from></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="to">
        <mat-form-field>
          <mat-label>Hasta</mat-label>
          <input matInput [matDatepicker]="picker_to" [(ngModel)]="filters.to" [tabIndex]="4" />
          <mat-datepicker-toggle matIconSuffix [for]="picker_to"></mat-datepicker-toggle>
          <mat-datepicker #picker_to></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="d-flex justify-content-end m-t-8">
      <button mat-button class="m-x-16" type="button" (click)="cleanFilters()">Limpiar</button>
      <button mat-flat-button (click)="applyFilters()">Filtrar</button>
    </div>
  </mat-card-content>
</mat-card>
