.cbx {
  max-width: 200px;
  flex-grow: 1;
  justify-items: center;
  background: #54545420;
  border: 1px solid gray;
  border-radius: 8px;
  overflow: hidden;
  transition: box-shadow 0.2s ease;

  &:hover {
    background-color: #38383845;
    box-shadow: 0 0 12px light-dark(rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.3));
  }
}

.cbx input {
  display: none;
}

.cbx label {
  width: 100%;
  padding: 8px 12px;
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease;
  transition: color 0.2s ease;
  user-select: none; /* Prevents text selection */
  cursor: pointer;
}

.cbx label div {
  position: relative;
  width: 24px;
  height: 24px;
}

.cbx label div span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  border: 2px solid #646464;
  border-radius: 50%;
  transition: visibility 0 ease 0.2s;
}

.cbx svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.cbx svg path {
  stroke: #FFF;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 19;
  stroke-dashoffset: 19;
  transition: stroke-dashoffset 0.2s ease;
}

.cbx input:checked + label > div span {
  transition-delay: 0s;
  visibility: hidden;
}

.cbx input:checked + label {
  background-color: #000000;
  color: #FFF;
}

.cbx input:checked + label > div > svg path {
  stroke-dashoffset: 0;
}

.ticket-statuses {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.active {
  background-color: rgb(37, 121, 191);
}

.by_employees {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.date__range {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.btn-actions {
  display: flex;
  justify-content: end;
  gap: 12px;
  margin-top: 12px;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 10px;
}