<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Filtros</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="ticket-statuses">
      @for (status of TICKET_STATUSES; track $index) {
        <div class="cbx">
          <input type="checkbox" [id]="status.id" [(ngModel)]="status.active">
          <label [class.active]="status.active" [htmlFor]="status.id">
            <div>
              <span></span>
              <svg fill="none" viewBox="0 0 15 14" height="14" width="15">
                <path d="M2 8.36364L6.23077 12L13 2"></path>
              </svg>
            </div>
            {{ status.name }}
          </label>
        </div>
      }
    </div>
    <!-- separator -->
    <div class="mat-mdc-form-field-subscript-wrapper mat-mdc-form-field-bottom-align"></div>
    <div class="by_employees">
      <div>
        <mat-form-field class="w-full">
          <mat-label>Por persona a cargo</mat-label>
          <mtx-select
            [items]="itTeamEmployees"
            bindLabel="fullname"
            bindValue="id"
            [(ngModel)]="filters.assigned_employee"
            [tabIndex]="1"
          />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="w-full" >
          <mat-label>Por solicitante</mat-label>
          <mtx-select
            [items]="requesterEmployees"
            bindLabel="fullname"
            bindValue="id"
            [(ngModel)]="filters.employee_owner"
            [tabIndex]="2"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="date__range">
      <div class="from">
        <mat-form-field>
          <mat-label>Desde</mat-label>
          <input matInput [matDatepicker]="picker_from" [(ngModel)]="filters.from" [tabIndex]="3" />
          <mat-datepicker-toggle matIconSuffix [for]="picker_from"></mat-datepicker-toggle>
          <mat-datepicker #picker_from></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="to">
        <mat-form-field>
          <mat-label>Hasta</mat-label>
          <input matInput [matDatepicker]="picker_to" [(ngModel)]="filters.to" [tabIndex]="4" />
          <mat-datepicker-toggle matIconSuffix [for]="picker_to"></mat-datepicker-toggle>
          <mat-datepicker #picker_to></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <button mat-raised-button class="m-x-16 text-red-20" (click)="cleanFilters()">Limpiar</button>
      <button mat-flat-button (click)="applyFilters()">Filtrar</button>
    </div>
  </mat-card-content>
</mat-card>
