<section class="card-base">
  <header>
    <h2 class="m-0">Filtros</h2>
  </header>
  <main class="m-t-16">
    <div class="ticket-statuses">
      @for (status of TICKET_STATUSES; track $index) {
        <div class="cbx">
          <input type="checkbox" [id]="status.id" [(ngModel)]="status.active" />
          <label [class.active]="status.active" [htmlFor]="status.id">
            <div>
              <span></span>
              <svg fill="none" viewBox="0 0 15 14" height="14" width="15">
                <path d="M2 8.36364L6.23077 12L13 2"></path>
              </svg>
            </div>
            {{ status.name }}
          </label>
        </div>
      }
    </div>
    <ng-template [ngxPermissionsOnly]="['IT_TEAM_LEADER', 'IT_EMPLOYEE']">
      <div class="form-group m-t-16">
        <div class="form-field">
          <label for="">Por persona a cargo</label>
          <app-select
            [items]="IT_TEAM_EMPLOYEES"
            bindLabel="fullname"
            bindValue="id"
            [(ngModel)]="filters.assigned_employee"
            [tabIndex]="1"
          />
        </div>
        <div class="form-field">
          <label>Por solicitante</label>
          <app-select
            [items]="REQUESTER_EMPLOYEES"
            bindLabel="fullname"
            bindValue="id"
            [(ngModel)]="filters.employee_owner"
            [tabIndex]="2"
          />
        </div>
      </div>
    </ng-template>
    <div class="date__range m-t-16">
      <div class="from">
        <mat-form-field>
          <mat-label>Desde</mat-label>
          <input matInput [matDatepicker]="picker_from" [(ngModel)]="filters.from" [tabIndex]="3" />
          <mat-datepicker-toggle matIconSuffix [for]="picker_from"></mat-datepicker-toggle>
          <mat-datepicker #picker_from></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="to">
        <mat-form-field>
          <mat-label>Hasta</mat-label>
          <input matInput [matDatepicker]="picker_to" [(ngModel)]="filters.to" [tabIndex]="4" />
          <mat-datepicker-toggle matIconSuffix [for]="picker_to"></mat-datepicker-toggle>
          <mat-datepicker #picker_to></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="btn-actions">
      <button class="btn-secondary" (click)="cleanFilters()">Limpiar</button>
      <button class="btn-primary" (click)="applyFilters()">Filtrar</button>
    </div>
  </main>
</section>
