.filters {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.ticket__statuses {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.active {
  background-color: rgb(37, 121, 191);
}

.by_employees > div {
  display: flex;

  gap: 12px;

  label {
    border: none;
    outline: none;
  }
}

.date__range {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
