.card-base {
  margin: auto;
  max-width: 650px;
}

// styles for the search input
.form-search {
  width: 90%;
  margin: auto;
}

// styles for the form register
.form-register,
.form-register-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-register-item {
  gap: 10px;
}

.form-register-actions {
  display: flex;
  gap: 10px;
  margin-left: auto;
}

.search-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 0;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);

  & > input {
    border: none;
    height: 100%;
    padding-inline: 0 12px;
    flex: 1;
  }

  & > button {
    height: 100%;
    aspect-ratio: 1;
    display: grid;
    place-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  & > button:hover {
    background-color: var(--sidemenu-active-heading-hover-background-color);
  }
}

mat-icon {
  padding: 0;
  color: #727272;
}
