<section class="card-base">
  <header>
    <h2 class="m-0 text-center">Registrar Incidentes</h2>
  </header>
  <main class="m-t-16">
      <form action="/api/employees?name=" method="GET" class="form-search">
        <div class="input-base search-input-container">
          <input
            class="input-base"
            type="text"
            placeholder="Busca un empleado por su nombre"
          />
          <button class="search-icon-button">
            <mat-icon>search</mat-icon>
          </button>
        </div>
      </form>
      <form action="/api/incidents/register" class="form-register m-t-16">
        <div class="form-register-item">
          <label>ID:</label>
          <input type="text" id="owner-id" class="input-base" placeholder="ID del empleado" disabled />
        </div>
        <div class="form-register-item">
          <label for="owner-name">Empleado:</label>
          <input type="text" id="owner-name" class="input-base" placeholder="Nombres completos" disabled />
        </div>
        <div class="form-register-item">
          <label for="owner-name">Departamento:</label>
          <input type="text" id="owner-name" class="input-base" placeholder="Departamento del empleado" disabled />
        </div>
        <div class="d-flex justify-content-end m-t-8 gap-12">
          <button type="button" class="btn-secondary">Limpiar</button>
          <button type="submit" class="btn-primary">Registrar</button>
        </div>
      </form>
  </main>
</section>
