:root {
  --body-font-family: 'Roboto', sans-serif;
  --body-background-color: light-dark(#ffffff, #1f2022);
  --gutter: 1rem;
  --sidenav-width: 15rem;
  --sidenav-collapsed-width: 4rem;
  --link-color: var(--mat-sys-primary);
  --link-hover-color: var(--mat-sys-primary);
  --header-background-color: #720405; // background color of the main header
  --sidemenu-heading-text-color: white; // default text color of items
  --sidemenu-heading-hover-background-color: var(--mat-sys-surface-container-highest);
  --sidemenu-active-heading-text-color: light-dark(#720405, #FFF); // sidemenu color when activated
  --sidemenu-active-heading-background-color: light-dark(#7900023c, #515151); // sidemenu background-color when activated
  --sidemenu-active-heading-hover-background-color: light-dark(#7900023c, #515151); // background-color when hovering over an item in an active sidemenu
  --sidemenu-expanded-background-color: var(--mat-sys-surface-container);
  --sidemenu-expanded-text-color: light-dark(#141212, #cacaca); // sidemenu color when expanded
  --topmenu-text-color: var(--mat-sys-on-background);
  --topmenu-background-color: var(--header-background-color);
  --topmenu-item-active-background-color: var(--mat-sys-primary-container);
  --topmenu-dropdown-item-active-text-color: var(--mat-sys-primary);
  --mat-sidenav-container-background-color: #a11009; // left sidebar
  --mat-toolbar-container-background-color: transparent; // background-color header del sidebar
  --mat-sidenav-container-width: var(--sidenav-width); // sidebar header background color
  --mat-toolbar-standard-height: 4rem;
  --mat-toolbar-mobile-height: 3.5rem;
  // --mdc-icon-button-icon-color -> to change the color of the icons


  /* Custom colors */
  --primary-color: #720405;
  --primary-text-color: #FFF;
  --primary-color-hover: #860000;
  --secondary-color: #616161;
  --secondary-text-color: #510303;
  --secondary-color-hover: #6161614d;

  /* Custom font sizes */
  --font-size-normal: 1rem;
  --font-size-small: 0.875rem;
  --font-size-medium: 1.25rem;
  --font-size-large: 1.5rem;
  --font-size-xlarge: 2rem;

}

*,
::after,
::before {
  box-sizing: border-box;
}

html,
body {
  position: relative; // 1
  height: 100%;
  overflow: auto; // 2
  background-color: var(--body-background-color);
}

body {
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

code,
kbd,
pre,
samp {
  font-family: var(--code-font-family);
}

a {
  color: var(--link-color);

  &:hover {
    color: var(--link-hover-color);
  }
}

@media (width <= 720px) {
  .hide-small {
    display: none !important;
  }

  .show-small {
    display: block !important;
  }
}
