<section class="card-base">
  <header>
    <h2>Crea un ticket</h2>
  </header>
  <main>
    <form class="form">
      <div class="form-field">
        <label>Incident:</label>
        <app-select
          [items]="incidentCategory"
          groupBy="categoryName"
          bindLabel="name"
          bindValue="id"
          [(ngModel)]="newIncident.incident"
          placeholder="Selecciona un incidente"
        ></app-select>
      </div>

      <div class="form-field">
        <label for="description">Añade una descripción:</label>
        <textarea
          id="description"
          placeholder="Ejemplo: No puedo acceder al SIJ..."
          style="resize: none"
          rows="10"
          [(ngModel)]="newIncident.description"
        ></textarea>
      </div>

      <div class="d-flex justify-content-end m-t-8" style="gap: 12px;">
        <button class="btn-secondary" type="button">Cancel</button>
        <button class="btn-primary" (click)="submit()">Submit</button>
      </div>
    </form>
  </main>
</section>
