.card-base {
  margin: auto;
  max-width: 650px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;

  &:focus {
    outline: 1px solid #b0b0b0;
  }
}
